
            body {
                margin: 0;
                font-family: Arial, sans-serif;
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                background-color: #f0f0f0;
            }
    
            header {
                background-color: #f0f0f0;
                padding: 15px;
                color: rgb(24, 23, 23); 
                text-align: center;
                margin: 40PX;
                font-size: larger;
                font-family: "Open Sans", sans-serif;
            }
    
            .gallery-container{
            display:flex;
            flex-direction: row;
            align-items: center;
            background-color: #f0f0f0;
            justify-content:space-between;
            color: whitesmoke;
            width: 1850px;
            font-size: 30px;
            border-radius: 25px;
            padding: 20px;
            
  
          }
          .div1 {
            display: flex;
            border: 1px solid #f0f0f0;
            height: 420px;
            width: 450px;
            background: url(image-1.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
          }
          .div2 {
            display: flex;
            border: 1px solid #f0f0f0;
            height: 420px;
            width: 450px;
            background: url(image-2.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
          }
          .div3 {
            display: flex;
            border: 1px solid #f0f0f0;
            height: 420px;
            width: 450px;
            background: url(image-3.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
          }
          .div4 {
            display: flex;
            border: 1px solid #f0f0f0;
            height: 420px;
            width: 450px;
            background: url(image-4.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
          }
        